#shlfindex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.card-body {
  margin-left: 20%;
  margin-right: 20%;
  padding: 2rem;
  margin: 1rem 2rem;
  border-radius: 12px;
  background-color: #80ced6;
  font-size: 20px;
  color: black;
  box-shadow: 0px 10px rgba(0, 0, 0, 0.25);
}

.card-body img:hover {
  transform: rotateY(180deg);
}

#shlfindex-whole {
  background-image: url("https://images.pexels.com/photos/1071881/pexels-photo-1071881.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  position: relative;
  background-size: cover;
  background-position: center;
  height: auto;
  width: 100%;
}
.col-sm-6 {
    width:100%;
    height: auto;
    margin: 0 auto;
    padding-top: 50px;
}

#blog-container {
    background-image: url("https://images.pexels.com/photos/5945749/pexels-photo-5945749.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    position: relative;
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;

  }
  .btn-secondary {
      display: block;
  }
